<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<title>Media Player</title>
	<base href="/">
	<link rel="icon" type="image/x-icon" href="/images/logo2.png">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
        
    </head>

    <body>

	<div class="container-xl" id="bandeau">
		<div class="container-fluid">
			<img src="/images/logo-ecl-white.png" alt="" width="200" height="60" class="d-inline-block align-text-top" href="https://www.ec-lyon.fr/">

			<a class="navbar-brand" href="https://github.com/Ugo-Insalaco/Projet_media">
			  <span id="names">
				Insalaco Ugo et Zouaoui Iliès
			  </span>
			</a>
		  </div>

		<h1 id="titre-bandeau"> Media Player Vidéo</h1>

	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-3 mt-2">
				<div id="chemin" hidden></div>
				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb" id="breadcrumbChemin">
					</ol>
				  </nav>
				<ul class="list-group-flush ml-0" ondragstart="playlist_dragstart_handler(event)" id="list">
				</ul>
				<img id = "back" class = "button-icon" src="/images/arrow-return-left.svg">
				<img id = "shuffle_folder" src="/images/shuffle.svg" alt=shuffle class = "button-icon">
			</div>
			<div class="col-6">
				<div class="row mt-2">
					<video id="video_player" controls autoplay=true> 
						<source src="video/video.mp4" type="video/mp4">
					</video>
				</div>
				
			</div>
			<div class = "col-3 mt-2">
				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb" id="breadcrumbPlaylist">
						<li class="breadcrumb-item">Playlist</li>
					</ol>
				</nav>
				<ul class="list-group-flush ml-0" id="videoPlaylist"  droppable=true ondrop="playlist_drop_handler(event)"  ondragover="dragover_handler(event)"ondragstart="trash_dragstart_handler(event)">
					<li class="list-group-item">An item</li>
				</ul>
				<form class="row ml-4" id="add_playlist_form">
					<div class="col-auto">
					  <input type="text" class="form-control" id="playlistName" placeholder="playlist">
					</div>
					<div class="col-auto">
					  <button type="button" class="btn btn-outline-secondary mt-1" id="submit_playlist">Ajouter</button>
					</div>
				</form>
				<img id = "back_playlist" class = "button-icon" src="/images/arrow-return-left.svg">
				<img id = "trash-icon" class = "button-icon" src="/images/trash.svg" alt="trash" ondragover="dragover_handler(event)" ondrop="trash_drop_handler(event)">
			</div>
		</div>
	</div>
    </body>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/private/js/media.js"></script>

	<script>
		function playlist_dragstart_handler(ev) {
			ev.dataTransfer.setData('text/plain',`${$("#chemin").html()}/${ev.target.innerText}`)
		}

		function dragover_handler(ev){
			ev.preventDefault();
		}

		function playlist_drop_handler(ev) {
			ev.preventDefault();
			let playlistName = $("#bredcrumbPlaylistName").html()
			// On récupère l'identifiant de la cible et on ajoute l'élément déplacé au DOM de la cible
			let data = ev.dataTransfer.getData("text/plain");
			if(data.split('.').length>=2 && playlistName!== undefined){
				$.ajax({
					type: 'POST',
					url: '/video/addPlaylistElement',
					headers: {
						"Content-Type": "application/vnd.api+json"
					},
					data: JSON.stringify({playlistName: playlistName, elementURL: data}),
					success: function(res){
						loadPlaylist(playlistName)
					},
					error: function(err){
						console.log(err)
					}
				})
			}
		}
		function trash_dragstart_handler(ev){
			let id = ev.target.id.split('bouton_playlist')[1]
			if(id){
				ev.dataTransfer.setData('text/plain',`${$(`#playlist_url${id}`).text()}/${ev.target.innerText}`)
			}
			else{
				id = ev.target.id.split('playlistbouton')[1]
				ev.dataTransfer.setData('text/plain',$(`#playlistbouton${id}`).text())
			}
		}
		function trash_drop_handler(ev){
			let data = ev.dataTransfer.getData("text/plain");
			let playlistName = $("#bredcrumbPlaylistName").html()
			if(data.split('.').length>1 && playlistName!== undefined){
				$.ajax({
					type: 'DELETE',
					url: '/video/deletePlaylistElement',
					headers: {
						"Content-Type": "application/vnd.api+json"
					},
					data: JSON.stringify({playlistName: playlistName, elementURL: data}),
					success: function(res){
						loadPlaylist(playlistName)
					},
					error: function(err){
						console.log(err)
					}
				})
			}
			else{
				$.ajax({
					type: 'DELETE',
					url: '/video/deletePlaylist',
					headers: {
						"Content-Type": "application/vnd.api+json"
					},
					data: JSON.stringify({playlistName: data}),
					success: function(res){
						getVideoPlaylists()
					},
					error: function(err){
						console.log(err)
					}
				})
			}
		}
	</script>
</html>