<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<title>Media Player</title>
	<base href="/">
	<link rel="icon" type="image/x-icon" href="/srv/public/logo2.png">
	<link rel="stylesheet" href="/srv/public/style.css">
        
    </head>

    <body>
	<br>
	Ceci est la page média
        <%= id %>
	</br> 

	<br>
	<input type="file" webkitdirectory directory multiple/>
	</br>
	<br>
	<script src="/private/js/media.js"></script>

	<video  id="video_player" width="320" height="240" controls> 
	<source src="srv/private/views/video.mp4" type="video/mp4">
	</video>
	</br>

	<br>
	<audio id=audio-player  controls> 
	<source src="Booba  - 92i Veyron.mp3.mp3" type="audio/mp3">
	</video>
	</br>

    </body>
    
</html>