<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<title>Media Player</title>
	<base href="/">
	<link rel="icon" type="image/x-icon" href="/images/logo2.png">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
        
    </head>

    <body>
	<!-- <input type="file" webkitdirectory=true/> -->

	<div class="container-fluid">
		<div class="row">
			<div class="col-3 mt-2">
				<div id="chemin" hidden></div>
				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb" id="breadcrumbChemin">
					  <li class="breadcrumb-item">Home</li>
					  <li class="breadcrumb-item active" aria-current="page">Library</li>
					</ol>
				  </nav>
				<ul class="list-group-flush ml-0" id="list">
				</ul>
				<button type=button id="back"><</button>
			</div>
			<div class="col-9">
				<div class="row mr-1 mt-2">
					<video id="video_player" controls> 
						<source src="video/video.mp4" type="video/mp4">
					</video>
				</div>
				
				<div class="row">
					<audio id=audio_player controls> 
						<source src="/musique/Booba  - 92i Veyron.mp3" type="audio/mp3">
					</audio>	
				</div>	
			</div>
		</div>
	</div>
    </body>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/private/js/media.js"></script>
</html>